.wholeday {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 70px;
    background: linear-gradient(to top, #bbaacb 0%, #beaac4 100%);
}

.weather {
    background: linear-gradient(to top, #09203f 0%, #5c7f99 100%);
    border-radius: 20px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 270px;
    color: white;
}

.title {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 400;
}

.temperature {
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: 600;
    background-color: #899cae;
    border-radius: 26px;
    padding: 10px;
}

.precipitation {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    background-color: #899cae;
    border-radius: 26px;
    padding: 14px;
    margin-bottom: 20px;
    gap: 10px;
}

.text {
    flex-basis: 70%;
    flex-grow: 1;
    max-width: 230px;
    text-align: center;
    text-wrap: wrap;
}

.img {
    width: 40px;
}

.parameters {
    display: grid;
    grid-template-areas:
        'humidity'
        'wind'
        'feeling'
        'uv'
        'sunrise'
        'sunset';
    gap: 15px;
    justify-items: start;
    margin-bottom: 20px;
    font-size: 16px;
    text-wrap: nowrap;
}

.parameter {
    align-self: flex-start;
}

@media (min-width: 520px) {
    .weather {
        border-radius: 25px;
        padding: 35px;
    }

    .title {
        font-size: 26px;
        margin-bottom: 20px;
    }

    .temperature {
        font-size: 24px;
        padding: 18px;
        margin-bottom: 30px;
    }

    .precipitation {
        font-size: 20px;
        gap: 15px;
        padding: 16px;
        margin-bottom: 30px;
    }

    .text {
        max-width: 530px;
    }

    .img {
        width: 52px; 
    }

    .parameters {
        font-size: 20px;
    }
}

@media (min-width: 820px) {
    .weather {
        border-radius: 35px;
        padding: 65px;
    }

    .title {
        font-size: 30px;
    }

    .temperature {
        border-radius: 38px;
        font-size: 32px;
        margin-bottom: 50px;
    }

    .precipitation {
        margin-bottom: 40px;
        gap: 30px;
        border-radius: 48px;
        padding: 18px;
        font-size: 24px;
    }

    .text {
        font-size: 24px;
        max-width: 370px;
    }

   .parameters {
        grid-template-columns: fit-content(40%) fit-content(60%);
        gap: 40px;
        font-size: 22px;
        font-weight: 400;
   }                   
}

@media (min-width: 1120px) {
    .parameters {
            column-gap: 50px;
            font-size: 24px;
        }
}