.favorite {
    align-self: end;
    color: white;
    border-radius: 4px;
    outline-offset: 4px;
    outline: 1px solid transparent;
    width: 35px;
    height: 35px;
    margin-bottom: 10px;
}

.favorite svg path {
    fill: transparent;
}

.favorite:hover svg path {
    fill: #c8abda;
}

.favorite.active svg path {
    fill: #c8abda;
}

.favorite.active:hover svg path {
    fill: transparent;
}

.favorite:hover {
    color: #c8abda;
}

.favorite:focus-visible {
    color: #987fa6;
    outline-color: #987fa6;
}

.favorite:active {
    fill: #09203f;
    color: #09203f;
}

@media (min-width: 520px) {
    .favorite {
        width: 40px;
        height: 40px;
    }
}

@media (min-width: 820px) {
    .favorite {
        width: 42px;
        height: 42px;
    }
}
