.forecast {
    display: flex;
    align-items: center;
    padding: 26px 0;
    color: #fff;
    background: linear-gradient(to top, #09203f 0%, #5c7f99 100%);
    padding: 15px;
}

.list {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 15px;
    font-size: 14px;
}

.item:last-child {
    margin-bottom: 0;
}

.day {
    display: flex;
    flex-direction: column;
}

.firstitem {
    margin-bottom: 10px;
}

.img {
    max-height: 100%;
    justify-self: end;
}

.temperature {
    display: flex;
    flex-direction: column;
    justify-self: end;
}

@media (min-width: 520px) {
    .forecast {
        padding: 20px;
        font-size: 20px;
    }

    .item {
   
        margin-bottom: 20px;
        font-size: 20px;
    }

     .img {
        justify-self: center;
    }

    .temperature {
        flex-direction: row;
        gap: 20px;
        justify-self: start;
    }
}

@media (min-width: 820px) {
    .forecast {
        padding: 46px 0;
    }

    .item {
        grid-template-columns: 300px max-content auto;
        gap: 40px;
        font-size: 22px;
        margin-bottom: 25px;
    }

.day {
        flex-direction: row;
        gap: 20px;
    }
}

@media (min-width: 1120px) {
    .forecast {
        padding: 60px 0;
    }

    .item {
        grid-template-columns: 400px max-content auto;
        font-size: 24px;
        margin-bottom: 30px;
        }
}
