.link {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    height: 100%;
    border-radius: 10px;
    padding: 4px;
    margin-bottom: 12px;
    background: linear-gradient(to top, #09203f 0%, #5c7f99 100%);
    color: #fff;
}

.link:hover {
    color: #c0aecc;
}

.link:focus,
.link:focus-visible {
    color: #987fa6;
    outline-color: #987fa6;
}

.link:active {
    color: #09203f;
}

.day {
    font-size: 10px;
    margin-bottom: 4px;
    text-align: center;
}

.img {
    margin: 0 auto;
    margin-bottom: 20px;
    max-height: 100%;
    width: 60px;
}

.temperature {
    text-align: center;
    font-size: 10px;
    margin-bottom: 12px;
}

.list {
    display: flex;
    justify-content: space-around;
    font-size: 10px;
    padding: 4px;
}

@media (min-width: 520px) {
    .card {
        padding: 5px;
    }

    .day {
        font-size: 14px;
        margin-bottom: 8px;
    }
        .img {
            width: auto;
        }

    .temperature {
        font-size: 12px;
    }

    .list {
        font-size: 14px;
        padding: 6px;
    }
}

@media (min-width: 820px) {
    .card {
        padding: 14px;
    }

    .day {
        font-size: 18px;
        margin-bottom: 14px;
    }

    .temperature {
        font-size: 14px;
        margin-bottom: 18px;
    }

    .list {
        font-size: 18px;
    }
}

@media (min-width: 1120px) {
    .card {
        padding: 20px;
    }

    .day {
        font-size: 22px;
        margin-bottom: 18px;
    }

    .img {
        margin-bottom: 30px;
    }

    .temperature {
        font-size: 24px;
    }
        
    .list {
        font-size: 20px;
        padding: 10px;
    }
}