.thisday {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 70px;
}

.weather {
    /* color: #bbaacb; */
    background: linear-gradient(to top, #09203f 0%, #5c7f99 100%);;
    border-radius: 20px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 270px;
    color: white;
}

.favorite {
    justify-self: end;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 400;
}

.temperature {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 600;
    background-color: #899cae;
    border-radius: 32px;
    padding: 10px;
}

.precipitation {    
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    background-color: #899cae;
    border-radius: 32px;
    padding: 12px;
    margin-bottom: 20px;
    gap: 20px;  
}

.text {
    flex-basis: 70%;
    flex-grow: 1;
    max-width: 230px;
}

.img {
    flex-grow: 0;
    flex-shrink: 0;
    max-height: 100%;
    width: 46px;
}

.parameters {
    display: grid;
    grid-template-areas: 
    'humidity'
    'wind'
    'feeling'
    'uv'
    'sunrise'
    'sunset';
    gap: 15px;
    margin-bottom: 20px;
    font-size: 16px;
}

.parameter {
    background-position: left;
    background-repeat: no-repeat;
    background-size: 20px;
    padding-left: 30px;
    justify-self: start;
}

.humidity {
   background-image: url(./humidity.svg);
   grid-area: humidity;
}

.wind {
    grid-area: wind;
    background-image: url(./wind.png);
}

.feeling {
    grid-area: feeling;
    background-image: url(./temperature-feels-like.svg);
}

.uv {
    grid-area: uv;
    background-image: url(./sun-umbrella.svg);
}

.sunrise {
    grid-area: sunrise;
    background-image: url(./sunrise.svg);
}

.sunset {
    grid-area: sunset;
    background-image: url(./sunset.svg);
}

@media (min-width: 520px) {
    .weather {
        border-radius: 25px;
        padding: 45px;
    }

    .title {
        font-size: 26px;
        margin-bottom: 40px;
    }

    .temperature {
        font-size: 28px;
        margin-bottom: 40px;
        padding: 15px;
    }

    .img {
        width: auto;
    }

    .precipitation {
        margin-bottom: 30px;
        gap: 20px;
        border-radius: 42px;
        padding: 16px;
    }

    .text {
        font-size: 20px;
        max-width: 300px;
    }

    .parameters {
        gap: 25px;
        font-size: 18px;
    }
}

@media (min-width: 820px) {
    .weather {
        border-radius: 35px;
        padding: 65px;
    }

    .title {
       font-size: 30px;
    }

    .temperature {
        font-size: 32px;
        margin-bottom: 50px;
    }

    .precipitation {
        margin-bottom: 40px;
        gap: 30px;
        border-radius: 40px;
        padding: 18px;
        gap: 35px;
    }

    .text {
        font-size: 24px;
        max-width: 370px;
    }

    .parameters {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        'feeling  uv'
        'humidity  sunrise'
        'wind  sunset';
        column-gap: 50px;
        row-gap: 40px;
        font-size: 21px;
        font-weight: 300;
    }
}

@media (min-width: 1120px) {
.thisday {
    margin-top: 46px;
    margin-bottom: 70px;
}

.favorite {
    justify-self: end;
}

    .temperature {
        margin-bottom: 50px;
        padding: 20px;
    }

    .parameters {
        font-size: 22px;
        font-weight: 400;
        column-gap: 70px;
    }    

    .parameter {
        background-size: 25px;
        padding-left: 35px;
    }
}