.linkFavorite {
    color: #33363F;
    border-radius: 4px;
    outline-offset: 4px;
    outline: 1px solid transparent;
    justify-items: center;
}

.linkFavorite:hover {
    color: #987fa6;
}

.linkFavorite:focus,
.linkFavorite:focus-visible {
    color: #987fa6;
    outline-color: #987fa6;
}

.linkFavorite:active {
    color: #09203f;
}

.svgFavorite {
    margin: 0 auto;
    width: 30px;
}

.textFavorite {
    font-size: 10px;
}

@media (min-width: 520px) {
    .svgFavorite {
        width: 40px;
    }

    .textFavorite {
        font-size: 12px;
    }
}

@media (min-width: 820px) {
    .textFavorite {
        font-size: 14px;
    }
}
