.main {
    background: linear-gradient(to top, #bbaacb 0%, #beaac4 100%);
    /* 
        смотрите. в целом, это небольшая проблема, однако я бы обратил внимание на следующее:
        min-height: 100vh означает что контент main всегда будет во весь экран
        однако так как у нас есть хедер, то футер виден не будет 
        
        мое предложение: написать высоту main через calc: calc(100vh - Npx) где Npx это сколько хедер по высоте 
        возможно, придется поставить хедеру фиксированную высоту для этого
    */
    min-height: 100vh;
    padding: 40px 20px;
}

.favorite {
    display: flex;
    gap: 10px;
    align-items: center;
}

.subtitle {
    font-size: 20px;
    line-height: 2.5;
    padding-bottom: 15px;
    text-decoration:#09203f underline ;
}

.row {
    display: flex;
    gap: 12px;
    padding-left: 5px;
    border-bottom: 1px solid white;
    line-height: 1.5;
    max-width: 600px;
}

.item {
    max-width: 920px;
    color: white;
    list-style: lower;   
    /* padding-bottom: 10px;  */
}

.city {
    width: 200px;
}

.del {
    width: 10px;
    height: 10px;
}

button:hover {
    color: #09203f;
}

button:active {
    color: #beaac4;
}

.link {
    max-width: 920px;
    padding: 30px;
    border-radius: 20px;
    font-size: 22px;
    color: white;
    background: linear-gradient(to top, #09203f 0%, #5c7f99 100%);
}

@media (min-width: 520px) {
    .main {
        padding-top: 50px;
    }

    .favorite {
        gap: 20px;
    }

    .row {
        padding-left: 20px;
    }

    .item{
        font-size: 18px;
    }

    .city {
        width: 290px;
    }

    .del {
        width: 14px;
        height: 14px;
    }
}

@media (min-width: 820px) {
    .main {
       padding: 50px;
    }

    .favorite {
        gap: 50px;
    }

    .subtitle {
        font-size: 24px;
        font-weight: 600;
    } 

    .row {
        padding-left: 50px;
        line-height: 1.5;
    }

    .item {
        font-size: 22px;
    }

    .city {
        width: 420px;
    }

    .del {
        width: 16px;
        height: 16px;
    }
}

@media (min-width:1120px) {
    .main {
        padding: 70px;
    }

    .favorite {
        gap: 70px;
    }

    .subtitle {
        font-size: 26px;
        font-weight: 600;
    }

    .row {
        padding-left: 70px;
        line-height: 1.7;
    }

    .item {
        font-size: 22px;
    }

    .city {
        width: 420px;
    }
}
