.main {
    background: linear-gradient(to top, #bbaacb 0%, #beaac4 100%);
    min-height: 100vh;
    padding: 40px 20px;
}

.favorite {
    margin-top: 15px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.subtitle {
   font-size: 20px;
   line-height: 2.5;
padding-bottom: 15px;
   text-decoration:#09203f underline ;
}

.list {
  margin-left: 30px;  
}

.item {
    max-width: 920px;
    color: white;
    list-style: lower;   
    padding-bottom: 10px; 
}

.link {
    max-width: 920px;
    padding: 30px;
    border-radius: 20px;
    font-size: 22px;
    color: white;
    background: linear-gradient(to top, #09203f 0%, #5c7f99 100%);
}

.link:hover {
    color: #beaac4;
    transform: scale(1.1);
}


@media (min-width: 520px) {
    .main {
        padding-top: 50px;
    }

    .favorite {
        gap: 20px;
    }

    .item{
        font-size: 18px;
        padding-bottom: 15px;
    }
}

@media (min-width: 820px) {
    .main {
       padding: 50px;
    }

    .favorite {
        gap: 50px;
    }

    .subtitle {
        font-size: 24px;
        font-weight: 600;
    } 

    .item {
        font-size: 20px;
    }
}

@media (min-width:1120px) {
.main {
        padding: 70px;
    }

    .favorite {
            gap: 70px;
    }

    .subtitle {
        font-size: 26px;
        font-weight: 600;
    }

    .item {
        font-size: 22px;
        line-height: 2;
        padding-bottom: 15px;
    }
}
