.forecastbutton {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}

.linkBtn {
    display: flex;
    align-items: center; 
    color: #fff; 
    padding: 20px;
    border-radius: 20px;
    font-size: 14px;
    background: linear-gradient(to top, #09203f 0%, #5c7f99 100%);
}

.link {
    display: flex;
    border-radius: 14px;
    font-size: 18px;
    color: #fff;
    background: linear-gradient(to top, #09203f 0%, #5c7f99 100%);
    padding: 15px;
    outline: 3px solid transparent;
    outline-offset: 8px;
}

@media (min-width: 520px) {
    .linkBtn {
        border-radius: 28px;
        padding: 24px;
        font-size: 20px;
    }
}

@media (min-width: 820px) {
    .linkBtn {
        border-radius: 40px;
        padding: 24px 30px;
        font-size: 22px;
    }
}

@media (min-width: 1120px) {
    .linkBtn {
        padding: 30px 50px;
        font-size: 26px;
    }
}