.searchForm {
    position: relative;
    width: 100%;
    height: 28px;
}

.input {
    width: 100%;
    height: 100%;
    padding: 4px 12px;
    border: 1px solid transparent;
    border-radius: 32px;
    background-color: #EEEEF2;
    outline: none;
}

.input::placeholder {
    color: #969EAE;
}

.input:hover,
.input:focus-visible {
    border-color: #987fa6;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

.button {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    right: 4px;
    display: block;
    outline-offset: 4px;
    outline: 1px solid transparent;
    width: 26px;
}

.button:hover {
    color: #787e90;
    }

.button:focus,
.button:focus-visible {
    outline: 2px auto #987fa6;
}

.button:active {
    border-color: #646cff;
}

@media (min-width: 520px) {
    .searchForm {
        height: 38px;
        max-width: 600px;
        }

    .input {
        padding: 5px 14px;
    }   
    
    .button {
        width: 32px;
    }
}

@media (min-width: 820px) {
    .searchForm {
        height: 48px;
    }

    .button {
        width: 36px;
    }
}

@media (min-width: 1120px) {
    .searchForm {
        height: 48px;
        max-width: 800px;
    }

    .input {
        padding: 10px 24px;
    }

}