.main {
    background: linear-gradient(to top, #bbaacb 0%, #beaac4 100%);
    min-height: 100vh;
    padding: 70px;
}

.text {
    max-width: 920px;
    padding: 30px;
    border-radius: 20px;
    font-size: 22px;
    color: white;
    background: linear-gradient(to top, #09203f 0%, #5c7f99 100%);
}

.link:hover {
    color: #beaac4;
    transform: scale(1.1);
}

@media (max-width: 820px) {
.text {
    padding: 15px;
    font-size: 18px;
    line-height: 2;
    }
}

@media (max-width: 520px) {
    .main {
       padding: 20px;
    }

    .text { 
        font-size: 12px;
    }
}